body {
  margin: 0;
}

.game {
  position: relative;
}
.game canvas {
  position: absolute;
}
.game .events-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.game {
  width: 900px;
  height: 600px;
}
.game canvas {
  width: 100%;
  height: 100%;
}
